body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1{
    color: red;
    margin: 3rem 0;
}

h2{
    color: blueviolet;
    margin: 2rem 0;
}

h3{
    color:gold;
    margin:0 0 2rem 0 ;
}

p{
    margin: 0 1rem 2rem 1rem;
}

.ilk{
    display: flex;
    
}

.ilk li{
    list-style: none;
    margin-right: 1rem;
}

li img{
    width: 400px;
    display: block;
    margin: 1rem 1rem;
}

